# os
.DS_Store

# Dependency directories
node_modules

# env
.env.local
# editor
.vscode

dist

# Release
dist

# cache
.dumi
.umi
.umi-*
.mfsu-*
.mfsu
.cache

# Bridge-mock
bridge-mock.js

# Test
coverage

# Editor
.idea
.vscode

only-for-test*
